In [1]:
# Dependencies
import pandas as pd
import requests
import json
import os
import csv
import prettyprint as pp

# Google developer API key
from config import gkey

In [2]:
world_happiness = "world happiness data.csv"

world_happiness_df = pd.read_csv(world_happiness, encoding="UTF-8")

 # base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [3]:
location_types = "location_types.csv"
location_types_df = pd.read_csv(location_types, encoding="UTF-8")
location_types_df.head()

     location_types   sub_type
0           library  Education
1            museum  Education
2    primary_school  Education
3            school  Education
4  secondary_school  Education

In [5]:
education_location_types = location_types_df.loc[location_types_df["sub_type"]
                                               =="Education",:]
education_types_list = []
education_location_types.reset_index(inplace=True)
for i in range(len(education_location_types)):
    education_types_list.append(education_location_types.loc[i,"location_types"])

education_types_list

['library',
 'museum',
 'primary_school',
 'school',
 'secondary_school',
 'university']

In [20]:
base_url = "https://maps.googleapis.com/maps/api/geocode/json"
coord=[]
cities=["Helsinki","Oslo","Ottawa","Washington D.C.","Rome","Tokyo","City of Victoria","Beijing","Dhaka"",New Delhi","Gaborone","Kabul"]
for city in cities:
    params = {"address": city, "key":gkey}
    response = requests.get(base_url, params=params)
    places_data = response.json()   
    lat=places_data["results"][0]["geometry"]["location"]["lat"]
    long=places_data["results"][0]["geometry"]["location"]["lng"]
    coord.append(f"{lat},{long}")
coord

['60.16985569999999,24.9383791',
 '59.9138688,10.7522454',
 '45.4215296,-75.69719309999999',
 '38.9071923,-77.0368707',
 '41.9027835,12.4963655',
 '35.6761919,139.6503106',
 '44.8608086,-93.660106',
 '39.90419989999999,116.4073963',
 '28.6461322,77.1964488',
 '-24.6282079,25.9231471',
 '34.5553494,69.207486']

In [21]:
# geocoordinates libraires
target_type ="library"
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
count_libraries=[]

for lat in coord:
    params = {"location":lat,"key": gkey,"keyword":target_type, "radius":750}
    response = requests.get(base_url, params=params)
    places_data = response.json()
    count_libraries.append(len(places_data["results"]))
    
count_libraries

[16, 9, 12, 20, 20, 3, 1, 2, 17, 0, 0]

In [22]:
# geocoordinates museums
target_type ="museum"
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
count_museums=[]

for lat in coord:
    params = {"location":lat,"key": gkey,"keyword":target_type, "radius":750}
    response = requests.get(base_url, params=params)
    places_data = response.json()
    count_museums.append(len(places_data["results"]))

count_museums

[20, 20, 14, 15, 20, 3, 0, 20, 2, 1, 3]

In [23]:
# geocoordinates primary schools
target_type ="primary school"
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
count_primary_schools=[]

for lat in coord:
    params = {"location":lat,"key": gkey,"keyword":target_type, "radius":750}
    response = requests.get(base_url, params=params)
    places_data = response.json()
    count_primary_schools.append(len(places_data["results"]))
   
count_primary_schools

[2, 0, 2, 3, 3, 0, 0, 1, 11, 4, 1]

In [24]:
# geocoordinates schools
target_type ="school"
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
count_schools=[]

for lat in coord:
    params = {"location":lat,"key": gkey,"keyword":target_type, "radius":750}
    response = requests.get(base_url, params=params)
    places_data = response.json()
    count_schools.append(len(places_data["results"]))
    
count_schools

[20, 20, 20, 20, 20, 20, 4, 10, 20, 9, 6]

In [25]:
# geocoordinates secondary schools
target_type ="secondary school"
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
count_secondary_schools=[]

for lat in coord:
    params = {"location":lat,"key": gkey,"keyword":target_type, "radius":750}
    response = requests.get(base_url, params=params)
    places_data = response.json()
    count_secondary_schools.append(len(places_data["results"]))
    
count_secondary_schools

[10, 6, 3, 4, 15, 5, 0, 6, 20, 1, 6]

In [27]:
# geocoordinates universities
target_type ="university"
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
count_universities=[]

for lat in coord:
    params = {"location":lat,"key": gkey,"keyword":target_type, "radius":750}
    response = requests.get(base_url, params=params)
    places_data = response.json()
    count_universities.append(len(places_data["results"]))
    
count_universities

[15, 12, 14, 19, 12, 5, 0, 7, 3, 1, 3]

In [28]:
education_dict = {"Cities":cities,"Libraries":count_libraries,"Museums":count_museums,"Primary Schools":count_primary_schools,
              "Secondary Schools":count_secondary_schools,"Schools":count_schools, "Universities":count_universities}

education_data_df = pd.DataFrame(education_dict)
education_data_df

,Cities,Libraries,Museums,Primary Schools,Secondary Schools,Schools,Universities
0,Helsinki,16,20,2,10,20,15
1,Oslo,9,20,0,6,20,12
2,Ottawa,12,14,2,3,20,14
3,Washington D.C.,20,15,3,4,20,19
4,Rome,20,20,3,15,20,12
5,Tokyo,3,3,0,5,20,5
6,City of Victoria,1,0,0,0,4,0
7,Beijing,2,20,1,6,10,7
8,"Dhaka,New Delhi",17,2,11,20,20,3
9,Gaborone,0,1,4,1,9,1
10,Kabul,0,3,1,6,6,3