In [1]:
# Dependencies
import pandas as pd
import requests
import json
import os
import csv

# Google developer API key
from config import gkey

In [2]:
world_happiness = "world happiness data.csv"

world_happiness_df = pd.read_csv(world_happiness, encoding="UTF-8")

 # base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [3]:
location_types = "location_types.csv"
location_types_df = pd.read_csv(location_types, encoding="UTF-8")
location_types_df.head()

     location_types   sub_type
0           library  Education
1            museum  Education
2    primary_school  Education
3            school  Education
4  secondary_school  Education

In [4]:
transportation_location_types = location_types_df.loc[location_types_df["sub_type"]
                                               =="Transportation",:]
transportation_types_list = []
transportation_location_types.reset_index(inplace=True)
for i in range(len(transportation_location_types)):
    transportation_types_list.append(transportation_location_types.loc[i,"location_types"])

transportation_types_list

['airport',
 'bus_station',
 'light_rail_station',
 'subway_station',
 'train_station',
 'transit_station']

In [5]:
base_url = "https://maps.googleapis.com/maps/api/geocode/json"
coord=[]
cities=["Helsinki","Oslo","Ottawa","Washington D.C","Rome","Tokyo","City of Victoria","Beijing","Dhaka"",New Delhi","Gaborone","Kabul"]
for city in cities:
    params = {"address": city, "key":gkey}
    response = requests.get(base_url, params=params)
    places_data = response.json()   
    lat=places_data["results"][0]["geometry"]["location"]["lat"]
    long=places_data["results"][0]["geometry"]["location"]["lng"]
    coord.append(f"{lat},{long}")
coord

['60.16985569999999,24.9383791',
 '59.9138688,10.7522454',
 '45.4215296,-75.69719309999999',
 '38.9071923,-77.0368707',
 '41.9027835,12.4963655',
 '35.6761919,139.6503106',
 '44.8608086,-93.660106',
 '39.90419989999999,116.4073963',
 '28.6461322,77.1964488',
 '-24.6282079,25.9231471',
 '34.5553494,69.207486']

In [14]:
# geocoordinates airports
target_type ="airport"
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
count_airports=[]

for lat in coord:
    params = {"location":lat,"key": gkey,"keyword":target_type, "radius":750}
    response = requests.get(base_url, params=params)
    places_data = response.json()
    count_airports.append(len(places_data["results"]))
    
count_airports

[3, 12, 2, 1, 5, 0, 0, 3, 2, 2, 5]

In [6]:
# geocoordinates bus stations
target_type ="bus station"
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
count_bus_stations=[]

for lat in coord:
    params = {"location":lat,"key": gkey,"keyword":target_type, "radius":750}
    response = requests.get(base_url, params=params)
    places_data = response.json()
    count_bus_stations.append(len(places_data["results"]))
    
count_bus_stations

[10, 10, 10, 10, 10, 10, 0, 20, 10, 0, 3]

In [8]:
# geocoordinates light rail stations
target_type ="light rail station"
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
count_light_rail_stations=[]

for lat in coord:
    params = {"location":lat,"key": gkey,"keyword":target_type, "radius":750}
    response = requests.get(base_url, params=params)
    places_data = response.json()
    count_light_rail_stations.append(len(places_data["results"]))
    
count_light_rail_stations

[10, 10, 10, 10, 10, 10, 0, 0, 10, 1, 1]

In [10]:
# geocoordinates subway stations
target_type ="subway station"
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
count_subway_stations=[]

for lat in coord:
    params = {"location":lat,"key": gkey,"keyword":target_type, "radius":750}
    response = requests.get(base_url, params=params)
    places_data = response.json()
    count_subway_stations.append(len(places_data["results"]))
    
count_subway_stations

[7, 6, 18, 10, 6, 1, 3, 5, 2, 0, 0]

In [11]:
# geocoordinates train stations
target_type ="train station"
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
count_train_stations=[]

for lat in coord:
    params = {"location":lat,"key": gkey,"keyword":target_type, "radius":750}
    response = requests.get(base_url, params=params)
    places_data = response.json()
    count_train_stations.append(len(places_data["results"]))
    
count_train_stations

[10, 10, 3, 5, 10, 4, 0, 0, 2, 0, 2]

In [12]:
# geocoordinates transit stations
target_type ="transit station"
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
count_transit_stations=[]

for lat in coord:
    params = {"location":lat,"key": gkey,"keyword":target_type, "radius":750}
    response = requests.get(base_url, params=params)
    places_data = response.json()
    count_transit_stations.append(len(places_data["results"]))
    
count_transit_stations

[10, 10, 10, 10, 10, 10, 0, 0, 10, 1, 2]

In [16]:
transportation_dict = {"Cities":cities,"Airports":count_airports,"Bus Stations":count_bus_stations,"Light Rail Stations":count_light_rail_stations,
              "Subway Stations":count_subway_stations,"Train Stations":count_train_stations, "Transit Stations":count_transit_stations}

transportation_data_df = pd.DataFrame(transportation_dict)
transportation_data_df

,Cities,Airports,Bus Stations,Light Rail Stations,Subway Stations,Train Stations,Transit Stations
0,Helsinki,3,10,10,7,10,10
1,Oslo,12,10,10,6,10,10
2,Ottawa,2,10,10,18,3,10
3,Washington D.C,1,10,10,10,5,10
4,Rome,5,10,10,6,10,10
5,Tokyo,0,10,10,1,4,10
6,City of Victoria,0,0,0,3,0,0
7,Beijing,3,20,0,5,0,0
8,"Dhaka,New Delhi",2,10,10,2,2,10
9,Gaborone,2,0,1,0,0,1
10,Kabul,5,3,1,0,2,2