In [6]:
# Dependencies
import pandas as pd
import requests
import json
import os
import csv

# Google developer API key
from api_keys import g_key

In [12]:
world_happiness = "world happiness data.csv"

world_happiness_df = pd.read_csv(world_happiness, encoding="UTF-8")

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [16]:
location_types = "location_types.csv"
location_types_df = pd.read_csv(location_types, encoding="UTF-8")
location_types_df.head()

     location_types   sub_type
0           library  Education
1            museum  Education
2    primary_school  Education
3            school  Education
4  secondary_school  Education

In [ ]:
# geocoordinates
target_country = "united states"

target_type = "hospital"
lat = 44.9537
long = -93.0900
target_coordinates = f"{lat},{long}"
# target_search = "Chinese"
target_radius = 30000


# set up a parameters dictionary
params = {
    "location": target_coordinates,
#     "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
# response = requests.get(base_url, params=params)
# # convert response to json
# places_data = response.json()

# # Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))

In [ ]:
# print the response url, avoid doing for public github repos in order to avoid exposing key
#print(response.url)

In [ ]:
# convert response to json
places_data = response.json()

# Print the json (pretty printed)
print(json.dumps(places_data, indent=4, sort_keys=True))

In [ ]:
# Print the name and address of the first restaurant that appears
print(places_data["results"][0]["name"])
print(places_data["results"][0]["vicinity"])